{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-info">
            {% if profile.image %}
                <img style="display: inline-block;
                            border-radius: 50%;
                            overflow: hidden;
                            width: 300px;
                            height: 300px;" 
                src="{{ profile.image.url }}" alt="Фото пользователя" />
            {% else %}
                {% load static %}
                <img style="display: inline-block;
                            border-radius: 50%;
                            overflow: hidden;
                            width: 300px;
                            height: 300px;" 
                src="{% static 'users/images/default_image.jpeg' %}" alt="Your Image">
                            
            {% endif %}
            <div class="profile-item">
                <span class="profile-label">Логин:</span>
                <span class="profile-value">{{ profile.username }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Имя:</span>
                <span class="profile-value">{{ profile.first_name }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Фамилия:</span>
                <span class="profile-value">{{ profile.last_name }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Email:</span>
                <span class="profile-value">{{ profile.email }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Телефон:</span>
                <span class="profile-value">{{ profile.phone_number }}</span>
            </div>
            {% if user.pk is profile.pk %}
                <div class="profile-actions">
                    <a href="{% url 'users:edit_profile' pk=profile.pk %}" class="edit-btn">Редактировать профиль</a>
                </div>
            {% endif %}
        </div>
        <div class="profile-courses">
            {% if is_student %}
            <h3>Записан на следующие курсы по теории:</h3>
                {% if course %}
                    <div class="profile-course-card">
                        <h3>{{course.name}}</h3>
                        <p>
                            <strong>Преподаватель:</strong>
                            <a style="color: white" href={% url 'users:profile' pk=course.created_by.id  %}>{{course.created_by}}</a>
                        </p>
                        <p><strong>Дата начала:</strong>{{course.start_date}}</p>
                    </div>
                {% endif %}
                <h3>Записан на следующие курсы по практике:</h3>
                <div class="profile-course-card">
                    <h3>Вождение</h3>
                    <p><strong>Инструктор:</strong> Иванов Иван Иванович</p>
                    <p><strong>Дата начала:</strong> 10 марта 2025</p>
                </div>
            {% endif %}

            {% if is_teacher %}
                <h3>У вас следующие курсы:</h3>
                {% for course, students in courses_with_students.items %}
                    <h3>{{course.name}}</h3>
                    <p><strong>Количество мест: </strong>{{course.places_count}}</p>
                    <p><strong>Дата начала:</strong>{{course.start_date}}</p>
                    <strong>Список участников:</strong>
                    {% for student in students %}
                        <div class="profile-course-card">
                            <p>{{student.first_name}} {{student.last_name}}</p>
                            <a style="color: white" href={% url 'users:profile' pk=student.id  %}>{{student.username}}</a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if is_instructor %}
                <h3>Инструктор по вождению у студентов:</h3>
                <div class="profile-course-card">
                    <p>Иванов Иван Иванович</p>
                </div>
                <div class="profile-course-card">
                    <p>Иванов Иван Иванович</p>
                </div>
                <div class="profile-course-card">
                    <p>Иванов Иван Иванович</p>
                </div>
                <div class="profile-course-card">
                    <p>Иванов Иван Иванович</p>
                </div>
            {% endif %}

            {% if is_admin %}
                <p>Администратор</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
