{% extends 'users/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">

{% block content %}
    <div class="profile-container">
        <h2 class="profile-title">Мой профиль</h2>

        <div class="profile-info">
            {% if user.image %}
                <img style="display: inline-block;
                            border-radius: 50%;
                            overflow: hidden;
                            width: 300px;
                            height: 300px;" 
                src="{{ user.image.url }}" alt="Фото пользователя" />
            {% else %}
                <p>Фото не выбрано</p>
            {% endif %}
            <div class="profile-item">
                <span class="profile-label">Логин:</span>
                <span class="profile-value">{{ user.username }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Имя:</span>
                <span class="profile-value">{{ user.first_name }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Фамилия:</span>
                <span class="profile-value">{{ user.last_name }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Email:</span>
                <span class="profile-value">{{ user.email }}</span>
            </div>
            <div class="profile-item">
                <span class="profile-label">Телефон:</span>
                <span class="profile-value">{{ user.phone_number }}</span>
            </div>
        </div>

        <div class="profile-actions">
            <a href="{% url 'users:edit_profile' pk=user.pk %}" class="edit-btn">Редактировать профиль</a>
        </div>
    </div>
{% endblock %}
