.profile-container {
    display: flex;
    width: 100%;
    max-width: 900px;
    min-width: 95%;
    margin: 2% auto;
    height: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.profile-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.profile-courses {
    background-color: #fff;
    padding: 20px;
    margin-left: 1%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.profile-course-card{
    background-color: #1948ca;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    height: 13%;
    margin-bottom: 2%;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile-label {
    font-weight: bold;
    color: #444;
}

.profile-value {
    color: #555;
}

.profile-actions {
    margin-top: 20px;
    text-align: center;
}

.edit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.save-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #218838;
} */


.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
